.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto hace que el botón esté centrado verticalmente en la pantalla */
  
    /* Estilos del botón */
    .button {
      font-size: 20px; /* Ajusta el tamaño de la fuente según sea necesario */
      padding: 10px 20px; /* Ajusta el padding según sea necesario */
      background-color: green;
      color: white;
      border: none;
      border-radius: 5px; /* Ajusta el border-radius según sea necesario */
      cursor: pointer;
      text-decoration: none; /* Esto elimina el subrayado del texto del botón */
    }
  }